/*stylesheet.css*/

/**UTILITY**/
.is-hidden {
  display: none;
}

.is-visible {
  display: flex;
}

/**SWITCHES**/
#gvm-pm-t, #gvm-pm-b {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gvm-pm-t:hover svg, #gvm-pm-b:hover svg {
  fill: var(--gray-100);
}

/*button*/
#gvm-pm-b {
  border-left: 1px solid var(--gray-700) !important;
  padding: 10px;
}

#gvm-pm-b svg {
  fill: #969696;
}

/*toggle*/
#gvm-pm-t {
  border-bottom: 1px solid var(--gray-700) !important;
  padding: 10px 0 10px 0;
}

#gvm-pm-t svg{
  fill: #9f9f9f;
}

/**POPUPS**/
#gvm-pm-m, #gvm-pm-d {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000000;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

/*dialog*/
#gvm-pm-d a {
  color: inherit !important;
}

#gvm-pm-d a:hover {
  color: white !important;
}

#gvm-pm-d svg {
  position: relative;
  top: 0.1em;
  left: 0.3em;
  margin-right: 0.75ch;
}

#x {
  color: var(--gray-200);
  position: absolute;
  right: 0.75rem;
  top: 0.75rem;
  border-radius: 2px;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}

#x:hover {
  background: var(--gray-400);
  color: white;
}

#x div {
  width: 12px;
  height: 1.5px;
  background: currentcolor;
  grid-column: 1;
  grid-row: 1;
}

#x div:first-child {
  transform: rotate(45deg);
}

#x div:last-child {
  transform: rotate(-45deg);
}


/**************************************************/


.dialog_component {
  width: 32rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  background: var(--gray-600);
  border-radius: 3px;
  border: 1px solid var(--gray-800);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 15px 0px;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.dialog_menu {
  position: relative;
  background: var(--gray-500);
  padding: 1rem;
  border-style: solid;
  border-radius: 4px 4px 0px 0px;
  border-width: 0 0 1px 0;
  border-color: var(--gray-900);
}

#dialog_title {
  font-weight: 600;
  font-size: 14px;
}

#dialog_label {
  color: var(--gray-200);
  font-size: 12px;
}

.dialog_container {
  display: none;
  margin: auto 1rem 0 1rem;
  height: 2rem;
  align-items: stretch;
}

.dialog_text {
  padding: 0.5rem;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  color: var(--gray-200);
  border-color: var(--gray-900);
  background: var(--gray-800);
  margin-right: 0.5rem;
  flex: 2;
  outline: none;
}

.dialog_button {
  min-width: 13ch;
  padding: 0.5rem;
  font-size: 12px;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--gray-700);
  background: var(--green-400);
  color: white;
}

.dialog_button:hover {
  background: var(--green-350);
}

.dialog_container input {
  appearance: none;
  line-height: 0;
}

#dialog_form {
  display: flex;
}

#submit_input {
  background: var(--gray-400);
}

#text-input:focus {
  outline: 1px solid var(--blue-500);
}

#submit-input:hover {
  cursor: pointer;
  background: var(--gray-350);
}

#repository {
  text-overflow: ellipsis;
}

#project {
  pointer-events: none;
}