/**
 * GV EXTENSION | Stylesheet
 *
 * Styling for all injected HTML
 */

/* Utility
   ========================================================================== */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.show-state {
    display: none !important;
}

.show-state.on {
    display: block !important;
}

.open-state {
    display: none !important;
}

.open-state.on {
    display: flex !important;
}

.unconfigured-state.on {
    opacity: 0.5;
    pointer-events: none !important;
    color: white !important;
}

.drag-state.on {
    outline: 1px solid var(--colors-blue-outline) !important;
}

/* PUBLISH MENU
****************************************************************************/

/**
* Menu button
*/

#menu-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 9px 0px 9px;
    gap: 6px;
    color: var(--colors-action-secondary-text);
    width: 94px;
    padding: 4px 8px;
    margin: 5px 8px;
    border-radius: 4px;
    white-space: nowrap;
    box-shadow: var(--box-shadows-action-secondary);
    background: var(--colors-action-secondary-background);
}

#menu-button svg {
    fill: var(--colors-text-secondary);
    pointer-events: none;
}

#menu-button.on,
#menu-button:hover {
    background: var(--colors-action-secondary-background-hover);
}

#menu-button.on svg,
#menu-button:hover svg {
    fill: var(--colors-action-primary-text);
}

#menu-button > span {
    pointer-events: none;
}

/**
* Menu
*/

#menu {
    position: absolute;
    top: 44px;
    right: 11px;
    transform: translate3d(0px, 0px, 0px);
    box-sizing: content-box;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(33, 33, 33);
    border-radius: 4px;
    background: var(--colors-background-2);
    width: 24rem;
    height: auto;
    overflow: hidden;
    font-size: 11px;
    box-shadow: var(--box-shadows-menu);
}

.gv-menu_page {
    flex-direction: column;
    width: 100%;
}

.gv-menu_subtitle {
    margin: 0rem;
    padding: 0.75rem;
}

.gv-menu_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end !important;
    gap: 12px;
    padding: 0.75rem;
}

.gv_menu-publish-wrapper {
    border-top: 1px solid var(--colors-border-2);
}

.gv_menu-form {
    padding: 0.75rem;
}

.gv-menu_link {
    color: var(--colors-action-primary-text) !important;
}

.gv-menu_link:hover {
    color: white !important;
}

.gv-menu_link svg {
    position: relative;
    top: 0.1em;
    left: 0.3em;
    margin-right: 0.3em;
}

.gv-menu_options-wrapper {
    border-top: 1px solid var(--colors-border-2);
    padding: 0.75rem;
}

.gv-menu_options {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    height: 20px;
    border-color: var(--colors-border-2);
    border-width: 1px;
    border-style: solid;
    font-size: 10;
    padding: 12px;
}

.gv-menu_options > span {
    pointer-events: none;
}

.gv-menu_options.on svg {
    transform: rotate(90deg);
}

.gv-menu_label {
    align-self: flex-start;
    margin-bottom: -0.6em;
    width: 100%;
    font-size: 10px;
    font-size: 0.85em;
    white-space: nowrap;
}

.gv-menu_label.is-domain {
    margin-top: -1.5em;
    width: 0;
    font-size: 0.85em;
    white-space: nowrap;
}

.gv-menu_label.is-site-code {
    margin: -1.5em -1em 0 1em;
    width: 0px;
    font-size: 0.85em;
    white-space: nowrap;
}

.gv-menu_row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}

.gv-menu_text,
.gv-menu_button,
.gv-menu_drop-area {
    border-radius: 4px;
    padding: 5px 8px;
}

.gv-menu_text,
.gv-menu_drop-area {
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--colors-border-2);
    background: var(--colors-ui-input-background);
    color: var(--colors-text-active);
    box-shadow: var(--box-shadows-input-inner);
    width: 100%;
    outline: none;
}

.gv-menu_drop-area {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    justify-self: stretch;
    border-radius: 4px;
    padding-top: 1.25rem;
    min-height: 15rem;
}

.gv-menu_text:focus {
    outline: 1px solid var(--colors-blue-outline);
}

.gv-menu_text:placeholder-shown {
    color: var(--colors-action-secondary-text);
}

.gv-menu_button {
    justify-content: center;
    border-width: 0px;
    border-style: none;
    background: var(--colors-action-primary-background);
    width: 6rem;
    color: var(--colors-action-primary-text);
    box-shadow: var(--box-shadows-action-secondary);
}

.gv-menu_button:hover {
    background: var(--colors-action-primary-background-hover);
}

#site-code {
    margin-left: 8px;
    width: 6rem;
}

#publish-button,
#save-button,
#restart-button {
    box-shadow: var(--box-shadows-action-colored);
}

#publish-button {
    margin-left: 0.5rem;
    width: 100%;
    background: var(--colors-green-background);
}

#publish-button:hover {
    background: var(--colors-green-background-hover) !important;
}

#publish-button:active {
    background: var(--colors-green-background-pressed) !important;
}

#save-button,
#restart-button {
    margin-left: 0.5rem;
    width: 8rem;
}

#save-button,
#restart-button {
    background: var(--colors-blue-background);
}

#save-button:hover,
#restart-button:hover {
    background: var(--colors-blue-background-hover);
}

#save-button:active,
#restart-button:active {
    background: var(--colors-blue-background-pressed);
}

#options-form {
    appearance: none;
}

#options-form input:disabled {
    opacity: 0.5;
    pointer-events: none;
    color: var(--wf-designer--textColorDim);
    box-shadow: none;
}

.gv-menu_toggle {
    width: 100%;
    border-width: 0;
    border-radius: 4px;
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: 1px;
    background: var(--colors-action-secondary-background);
    border-radius: 4px;
    box-shadow: var(--box-shadows-action-secondary);
    padding: 0.75px 1.25px 1.25px 1.25px;
}

.gv-menu_toggle input {
    width: 100% !important;
    box-sizing: border-box;
    border-width: 0px;
    border-style: none;
    border-radius: 3px;
    background: none;
}

.pressed-state {
    z-index: 1 !important;
    pointer-events: on !important;
}

.pressed-state.on {
    z-index: 0 !important;
    pointer-events: none !important;
    background-color: var(--colors-ui-button-group-active) !important;
    color: var(--colors-action-secondary-text) !important;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0px 16px 16px -16px inset,
        rgba(0, 0, 0, 0.2) 0px 12px 12px -12px inset,
        rgba(0, 0, 0, 0.25) 0px 8px 8px -8px inset,
        rgba(0, 0, 0, 0.25) 0px 4px 4px -4px inset,
        rgba(0, 0, 0, 0.25) 0px 3px 3px -3px inset,
        rgba(0, 0, 0, 0.3) 0px 1px 1px -1px inset !important;
}

#upload-label {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#upload {
    display: none;
}

#drop-text,
#link {
    height: 1.5rem;
}

#scripts,
#script-row {
    height: 2.5rem;
}

#script-row {
    display: flex;
    position: relative;
    z-index: 10;
    margin-top: -3.25rem;
    border-color: var(--colors-border-2);
    background: var(--colors-ui-input-background);
    padding: 7px;
}

#script-row span {
    cursor: disabled;
    margin-right: 8px;
    border-radius: 3px;
    background: var(--colors-green-background);
    padding: 3px 7px 3px 7px;
    line-height: 1.5;
    box-shadow: var(--box-shadows-action-colored);
}
